<header class="site-header">
<div id = "shadow" class="shadow"></div>
<div class="content">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}'s Blog</a>
  </div>
<div class="menutitle">
  <ul>
    <a id="linkme">Link</a>
	<li class=""><a href="/index.html">Home</a></li>
	<li class=""><a href="/index.html?#backtop">Categroy</a></li>
	<li class=""><a href="#" onclick="show(0)">Help</a></li>
	<li class=""><a href="#" onclick="show(1)">About</a></li>
</ul>
</div>
</div>
</header>
<script>
 var linkname = document.getElementById("linkme");
 var linkul = linkname.parentNode;
 var childs = linkul.childNodes;
 linkname.addEventListener("mouseover",function(){
    for(var i=1,il=childs.length;i<il;i++){
		var t = childs[i];
		if(t.tagName=="LI")
	   t.className="showli"
	}

 },false);
  document.body.addEventListener("mouseover",function(){
    if(!linkul.contains(event.target)){
	   for(var i=1,il=childs.length;i<il;i++){
		var t = childs[i];
		if(t.tagName=="LI")
	   t.className=""
	}
	}

 },false);
 var shadow = document.getElementById("shadow");
   window.addEventListener("scroll",function(){
	   var nowtop = document.body.scrollTop;
	    if(nowtop<=50){
	     shadow.style.opacity="0";
	   }else if(nowtop<=100&&nowtop>50){
	     shadow.style.opacity="0.2";
	   }else if(nowtop>100&&nowtop<=200){
         shadow.style.opacity="0.4";
	   }else if(nowtop>200&&nowtop<=300){
         shadow.style.opacity="0.6";
	   }else if(nowtop>300&&nowtop<=400){
         shadow.style.opacity="0.8";
	   }else if(nowtop>400&&nowtop<=500){
         shadow.style.opacity="1";
	   }
 },false);
  
</script>