/**
 * Site header
 */
 a:hover{
   text-decoration:none;
 }
.site-header {
    border-top: 0px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
   
    &,
    &:visited {
        color: $grey-color-dark;
    }
}
.site-title font{
    font-size: 19px;
    line-height: 40px;
    letter-spacing: -1px;
    margin-bottom: 0;
}
.site-title font:before{
    content:" ";
    width:10px;
    height:40px;
    
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}


.nowrap {
white-space:nowrap;
text-overflow:ellipsis;
overflow:hidden;
width:200px;
height:30px;
color:#D4CCCC;
font-size:15px;
padding-left:30px;
}

.nowrap>p{
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  display:block;
  width:100%;
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}
 

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
      /*
        * margin-bottom: $spacing-unit;
	*/
	margin-bottom: 5px;
    }
}
.site-footer{
  text-align:center;
    padding:5px 0px;
   height:74px;
}

<!--分类-->
.categor{
 margin:0px;
 padding:0px;
}
.categor{
  float:left;
  width:20%;
  height:100%;
  maring:15px;
}
.categor .title{
display:block;
  margin-left:20px;
  text-indent:20px;
  width:80%;
 }
.categor ul{
 list-style:none;
  width:80%;
   border-bottom:1px solid #ECE4E4;
}
.categor li{
  border-top:1px solid #ECE4E4;
  text-align:-webkit-match-parent;
   
  height:35px;
  overflow:hidden;
  line-height:35px;
  text-indent:20px;

}
.categor li a{
  width:100%;
   color:#666;
  height:35px;
  overflow:hidden;
  line-height:35px;
  text-indent:20px;
  font-size:15px;
  font-weight:400;
  display:block;
  text-decoration:none;
}
.categor li a:hover{
  background-color:#ECE4E4;
}

.categor  li span{
  float:right;
  color:#bbb;
  margin-right:20px;
  font-size:13px;
  font-weight:700;
  line-height:35px;
}


.silder{
  width:100%;
 height:0px;
}

.site-header{
   height:60px;
   position:fixed;
   top:0px;
   width:100%;
   background:#E6E3E3;
   z-index:99;
}
 
 .blankheader{
  height:60px;
 }


.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    color:#000;
    font-size: 24px;
    font-family:arial;
    font-weight:400;
    text-decoration:none;
}

.post-link:visited{
  color:#000;
  text-decoration:none;
}
.post-link:hover{
  color: #1756a9; 
  text-decoration:none;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
